<header>
<h1>{{pageTitle}}</h1>
<p><a href="/">Home</a></p>
<p><a href="/about">About</a></p>
<p><a href="/examination">Examination</a></p>
<p><a href="/academic">Academic</a></p>
<p><a href="/self_details">Self_details</a></p>

</header>



