<html>
<head>
<meta charset="utf-8">
<title>Our academic_details modules </title>
</head>
<body>
{{> self_details}}
<p>CAP907: {{CAP907}}</p>
<p>CAP906: {{CAP906}}</p>
<p>CAP918: {{CAP918}}</p>
</body>
</html>