<html>
<head>
<meta charset="utf-8">
<title>Our self_details modules </title>
</head>
<body>
{{> self_details}}
<h1>CAP907 :{{CAP907}}</h1>
<h2>CAP906 :{{CAP906}}</h2>
<h3>CAP918 :{{CAP918}}</h3>
</body>
</html>



