<html>
<head>
<meta charset="utf-8">
<title>Our self_details modules </title>
</head>
<body>
<h1>Name: {{name}}</h1>
<h2>Registration number: {{registration_no}}</h2>
<h3>Section: {{section}}</h3>
<h4>Batch: {{batch}}</h4>
<P>This is self_details pages..!</p>
</body>
</html>